.app{
    width: 700px;
    height: 500px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
}
.titulo{
    height: 70px;
    background: #CBCBCB;
    border-bottom: 1px solid #000;
}
.titulo h1{
    text-align: center;
    font-size: 30px;
}
.main{
    display: flex;
}
.lista{
    height: 429px;
    width: 200px;
    background: #CBCBCB;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}
.lista a{
    padding: 6px 0;
    border-bottom: 1px solid #000;
    color: #000;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}
.view{
    width: 500px; 
    padding: 15px;
    background: #E5E5E5;
}
.view h2{
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.button{
    margin:10px 5px 0;
    padding: 5px;
    background: #CBCBCB;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
}
.button:hover, .lista a:hover{
    background: #777;
}
.form label{
    margin: 5px 0;
}